#aMap{
/*    Height of map*/
    height: 100em; 
}

.leaflet-popup-content{ 
  width: fit-content; 
  outline-width: thick;
  padding-right: 99px;
}

html, body {
    margin: 0;
    padding: 0;
}
.c-polyline {
    z-index: 999; /* Adjust the value as needed */
}

h4{
  font-size: 16px;
  white-space: nowrap;
  text-align: left;
  font-family: Verdana;
  line-height: 26px;

  /* white-space: wrap; */
}

h5{
  font-size: 14px;
  white-space: nowrap;
  text-align: left;
  font-family: Verdana;
  line-height: 22px;
  /* white-space: wrap; */
}
  /* .leaflet-control-layers-overlays > label:first-child {
    display: none;
  } */

  /* CSS for the custom popup class */
.custom-popup-class {
/* Add your custom styles here */
background-color: #fff;
/* border: 2px solid #f00;
padding: 10px; */
font-size: 16px;
width: fit-content; 
outline-width: thick;
padding-right: 99px;
z-index: 2;

}

