#aMap{
/*    Height of map*/
  height: 100em; 
}


/* .leaflet-popup-content{ 
  width: fit-content; 
  outline-width: thick;
  padding-right: 99px;
} */

html, body {
    margin: 0;
    padding: 0;
}
.c-polyline {
    z-index: 999; /* Adjust the value as needed */
}

h4{
  font-size: 16px;
  white-space: nowrap;
  text-align: left;
  font-family: Verdana;
  line-height: 26px;
  white-space: wrap;
}

h5{
  font-size: 14px;
  text-align: left;
  font-family: Verdana;
  line-height: 22px;
  white-space: wrap;
}

.intro-custom-popup .leaflet-popup-content-wrapper {
  background-image: url('assets/handContour.png');
  background-size:90%;
  background-color: #9e9f73ca;
  color: #000000;
  width: 25vw; /* Allow the width to adjust to content */
  border-radius: 10px;
  padding: 20px; /* Add padding to create space for the text */
  box-sizing: border-box;
}

.intro-custom-popup h4, .intro-custom-popup h5 {
  font-size: 12px;
  text-align: left;
  font-family: Verdana;
  line-height: 22px;
  white-space: normal; /* Allow text to wrap */
  width: 22vw; /* Allow the text to fill the available width */
}
/* 
.intro-custom-popup .leaflet-popup-content-wrapper{
  background-image: url('assets/handContour.png'); 
  background-size: cover;
  background-color: #9e9f73ca;
  
  color: #000000;
  width: 135%; 
  border-radius: 10px;
}
.intro-custom-popup h4 {
  font-size: 12px;
  text-align: left;
  font-family: Verdana;
  line-height: 22px;
  white-space: wrap; 
  width: 135%;
}
.intro-custom-popup h5 {
  font-size: 12px;
  text-align: left;
  font-family: Verdana;
  line-height: 22px;
  white-space: wrap; 
  width: 135%;
} */
/* -------------------------------------- */
.AC-custom-popup .leaflet-popup-content-wrapper {
  background: #ffffff;
  color: #000000;
  width: 128%; /* Maintain the fixed width for the popup */
  border-radius: 10px;
}
.AC-custom-popup h5 {
  font-size: 12px;
  text-align: left;
  font-family: Verdana;
  line-height: 22px;
  white-space: wrap; 
  width: 135%; 
}
.AC-custom-popup.leaflet-popup-content-wrapper a {
  color:rgb(64, 93, 162);
  width: 100px;
}
.AC-custom-popup .leaflet-popup-tip {
  background: transparent;
  border: none;
  box-shadow: none;
}
/* -------------------------------------- */
.BH-custom-popup .leaflet-popup-content-wrapper {
  background: #ffffff;
  color: #000000;
  width: 128%; 
  border-radius: 10px;
}
.BH-custom-popup h5 {
  font-size: 12px;
  text-align: left;
  font-family: Verdana;
  line-height: 22px;
  white-space: wrap; 
  width: 135%; 
}
.BH-custom-popup .leaflet-popup-content-wrapper a{
  color:rgb(64, 93, 162);
  width: 100px;
}







